PROJECT_NAME=factoryflow

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PORT=5433

POSTGRES_TEST_DB=postgres_test
POSTGRES_TEST_USER=postgres_test
POSTGRES_TEST_PORT=5435

PGADMIN_EMAIL=admin@local.dev
PGADMIN_PORT=5050

TZ=America/Sao_Paulo